@font-face {
    font-family: 'comfortaa';
    src: url('../MotoFix_Garage/Comfortaa-VariableFont_wght.ttf');
}
h1, a, p{
    color: white;
    font-family: Comfortaa;
    text-decoration: none;
}
.background{
    min-height: 99dvh;
    background-image: url('mf.png');
    background-size: cover;
    background-position: center center;
    border-radius: 5vh;
    padding: 3px;
}
.ff {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.logo{
    height: 100%;
    width: auto;
    object-fit: cover;
    display: block;
    transform: scale(1.2);
    
}
.but_pos{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: right;
}
.but{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 5vh;
    padding: 1vh;
    background-color: rgba(255, 255, 255, 10%);
    backdrop-filter: blur(10px);
    height: 5vh;
    position: relative;
}
.ff h1{
    color: white;
    text-align: center;
    max-width: 50vw;
    margin-bottom: 5vh;

}
@media (max-width: 800px) {
    .but {
        flex-direction: column;
    }
    .ff h1{
        font-size: 5vi;
        max-width: 90vw;
    }
}  
.ff p{color: white;
    text-align: center;
    max-width: 50vw;
    margin-bottom: 5vh;
}
.ff h1{
    font-size: 3vi;
}
.ff  p{
    font-size: 16pt;
}
.but_tel, .but_info{
    border: 2px solid white;
    padding: 0.5vw 1.5vw;
    border-radius: 30vw;
    background-color: rgba(255, 255, 255, 30%);
    margin: 5px;
    font-size: 12pt;
    transition: transform 0.1s ease;
}
.but_tel:hover, .but_info:hover{
    transform: scale(0.95);
}
.but_info:active, .but_tel:active{
    transform: scale(0.90);
}
.but_info{
    background-color: rgba(255, 255, 255, 100%);
}
.but_info a{
    color: #000;
}